---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&loginID=joe%40example.com&password=foobarbaz
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1b-nomad-g13
      X-Callid:
      - 2efe864214984161beee66ce14e63f69
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"2efe864214984161beee66ce14e63f69\",\r\n  \"errorCode\":
        403042,\r\n  \"errorDetails\": \"invalid loginID or password\",\r\n  \"errorMessage\":
        \"Invalid LoginID\",\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 403,\r\n
        \ \"statusReason\": \"Forbidden\",\r\n  \"time\": \"2021-03-14T12:15:59.285Z\"\r\n}"
  recorded_at: Sun, 14 Mar 2021 12:15:59 GMT
recorded_with: VCR 6.0.0
