---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&loginID=<RENAULT_EMAIL>&password=<RENAULT_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-g13
      X-Callid:
      - e1f7c2fa8e254604bc026872e768b40b
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"e1f7c2fa8e254604bc026872e768b40b\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2021-03-14T12:15:59.517Z\",\r\n  \"registeredTimestamp\":
        1607101171,\r\n  \"UID\": \"c4b84f80da0542fb8b9c24b44f283a87\",\r\n  \"UIDSignature\":
        \"ldpQUSr0ANc5To/ppBYwTB2JAV0=\",\r\n  \"signatureTimestamp\": \"1615724159\",\r\n
        \ \"created\": \"2020-12-04T16:59:31.300Z\",\r\n  \"createdTimestamp\": 1607101171,\r\n
        \ \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\": true,\r\n
        \ \"lastLogin\": \"2021-03-14T12:15:59.490Z\",\r\n  \"lastLoginTimestamp\":
        1615724159,\r\n  \"lastUpdated\": \"2020-12-04T16:59:48.573Z\",\r\n  \"lastUpdatedTimestamp\":
        1607101188573,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573,\r\n
        \ \"newUser\": false,\r\n  \"sessionInfo\": {\r\n    \"cookieName\": \"gac_<GIGYA_API_KEY>\",\r\n
        \   \"cookieValue\": \"st2.s.AcbHb-AadQ.ohdGcwi_Vu8xManTf_MfKb16Hxy9Mgsm_3ylbQTAjinaf772uRIK2SVH3FeIRDuVvP9GrEW05f_x3SfeGWVtNkbE9stpKhqzNEVLELZ2lVI.rNivKK7b0hYC6zp9ajjVUPll09lwBU4tTJOOMlVIbsVuz1QoP5tw4PbHdziFDh2AAlLHDnINkwaMmKC4AEOEYA.sc3\"\r\n
        \ }\r\n}"
  recorded_at: Sun, 14 Mar 2021 12:15:59 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getJWT
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&login_token=st2.s.AcbHb-AadQ.ohdGcwi_Vu8xManTf_MfKb16Hxy9Mgsm_3ylbQTAjinaf772uRIK2SVH3FeIRDuVvP9GrEW05f_x3SfeGWVtNkbE9stpKhqzNEVLELZ2lVI.rNivKK7b0hYC6zp9ajjVUPll09lwBU4tTJOOMlVIbsVuz1QoP5tw4PbHdziFDh2AAlLHDnINkwaMmKC4AEOEYA.sc3&fields=data.personId%2Cdata.gigyaDataCenter&expiration=900
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-g10
      X-Callid:
      - 7c0dd7891ddd467181084f261011160c
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"7c0dd7891ddd467181084f261011160c\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2021-03-14T12:15:59.698Z\",\r\n  \"ignoredFields\":
        \"\",\r\n  \"id_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyIsImtleWlkIjoiUkVRME1VUTVOME5DUlRKRU16azNNMFUxUmtORFEwVTBRME0xUkVGQlJqaERNamRFTlVGQlFnIn0.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQTGtzT3lCUmtIdjEyNng1V2hIYi01cHFDMXFGUjhwUWp4U2VMQjZuaEFuUEVSVFVsd25Zb3puSFN4d1g2NjgvIiwiYXBpS2V5IjoiM183UExrc095QlJrSHYxMjZ4NVdoSGItNXBxQzFxRlI4cFFqeFNlTEI2bmhBblBFUlRVbHduWW96bkhTeHdYNjY4IiwiaWF0IjoxNjE1NzI0MTU5LCJleHAiOjE2MTU3MjUwNTksInN1YiI6ImM0Yjg0ZjgwZGEwNTQyZmI4YjljMjRiNDRmMjgzYTg3IiwiZGF0YS5wZXJzb25JZCI6IjE1NDYzMDRjLTQxODktNDI4Ny04ODE1LTk4NmQwMDBlNjcxZCIsImRhdGEuZ2lneWFEYXRhQ2VudGVyIjoiZXUxLmdpZ3lhLmNvbSJ9.RrF_OhA7hMUwoXXn22_uRajal8MxRDx1j_i_KBFcWyWhN0S-nOyiTjneBkLsd7lSq2Y-LzOkrMqNm0azXlsVS_xCY0CgSoHQm78l6520OK54x0EeWGDJPTg2SST_XtueIdtKw-KOvn9HzytDQztulSdfBkR7SXLfgWCVckYJEPFf5edJCkKZOU8z5SNzKy_StMwvhCJYkS4EyWLGakPkOme8GZLca2qm-YCf6m-gJVS880Ts3rSJ3XkroKpED8aYP39S9Xl75eh6pZf5-GY_bSCFCWj8f7ayJw7mpjUYZX7gpSP4R6DE90dsJ-LWDiSHiTm1erGYFwYUWkTwKq3f9g\"\r\n}"
  recorded_at: Sun, 14 Mar 2021 12:15:59 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getAccountInfo
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&login_token=st2.s.AcbHb-AadQ.ohdGcwi_Vu8xManTf_MfKb16Hxy9Mgsm_3ylbQTAjinaf772uRIK2SVH3FeIRDuVvP9GrEW05f_x3SfeGWVtNkbE9stpKhqzNEVLELZ2lVI.rNivKK7b0hYC6zp9ajjVUPll09lwBU4tTJOOMlVIbsVuz1QoP5tw4PbHdziFDh2AAlLHDnINkwaMmKC4AEOEYA.sc3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-g1
      X-Callid:
      - 2fa7e85cd0d1484594263c88189e1b07
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"2fa7e85cd0d1484594263c88189e1b07\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2021-03-14T12:15:59.914Z\",\r\n  \"registeredTimestamp\":
        1607101171000,\r\n  \"UID\": \"c4b84f80da0542fb8b9c24b44f283a87\",\r\n  \"UIDSignature\":
        \"ldpQUSr0ANc5To/ppBYwTB2JAV0=\",\r\n  \"signatureTimestamp\": \"1615724159\",\r\n
        \ \"created\": \"2020-12-04T16:59:31.300Z\",\r\n  \"createdTimestamp\": 1607101171000,\r\n
        \ \"data\": {\r\n    \"personId\": \"<RENAULT_PERSON_ID>\",\r\n    \"gigyaDataCenter\":
        \"eu1.gigya.com\"\r\n  },\r\n  \"preferences\": {},\r\n  \"emails\": {\r\n
        \   \"verified\": [\r\n      \"<RENAULT_EMAIL>\"\r\n    ],\r\n    \"unverified\":
        []\r\n  },\r\n  \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\":
        true,\r\n  \"lastLogin\": \"2021-03-14T12:15:59.490Z\",\r\n  \"lastLoginTimestamp\":
        1615724159000,\r\n  \"lastUpdated\": \"2020-12-04T16:59:48.573Z\",\r\n  \"lastUpdatedTimestamp\":
        1607101188573,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573\r\n}"
  recorded_at: Sun, 14 Mar 2021 12:15:59 GMT
recorded_with: VCR 6.0.0
