---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&loginID=joe%40example.com&password=foobarbaz
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-g5
      X-Callid:
      - 657e780d0355456689b37c577f6ef018
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"657e780d0355456689b37c577f6ef018\",\r\n  \"errorCode\":
        403042,\r\n  \"errorDetails\": \"invalid loginID or password\",\r\n  \"errorMessage\":
        \"Invalid LoginID\",\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 403,\r\n
        \ \"statusReason\": \"Forbidden\",\r\n  \"time\": \"2022-03-29T05:23:25.770Z\"\r\n}"
  recorded_at: Tue, 29 Mar 2022 05:23:25 GMT
recorded_with: VCR 6.1.0
