---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&loginID=<RENAULT_EMAIL>&password=<RENAULT_PASSWORD>&gmid=<RUZE_GMID>&ucid=<RUZE_UCID>&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-rgpcv
      X-Callid:
      - '019e871cd41a7a6a8ab7817ae20d0386'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cd41a7a6a8ab7817ae20d0386\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2026-06-02T06:54:34.174Z\",\r\n  \"registeredTimestamp\":
        1607101171,\r\n  \"UID\": \"<UID>\",\r\n  \"UIDSignature\": \"<UID_SIGNATURE>\",\r\n
        \ \"signatureTimestamp\": \"1780383274\",\r\n  \"created\": \"2020-12-04T16:59:31.300Z\",\r\n
        \ \"createdTimestamp\": 1607101171,\r\n  \"isActive\": true,\r\n  \"isRegistered\":
        true,\r\n  \"isVerified\": true,\r\n  \"lastLogin\": \"2026-06-02T06:54:34.124Z\",\r\n
        \ \"lastLoginTimestamp\": 1780383274,\r\n  \"lastUpdated\": \"2026-03-18T08:39:43.600Z\",\r\n
        \ \"lastUpdatedTimestamp\": 1773823183600,\r\n  \"loginProvider\": \"site\",\r\n
        \ \"oldestDataUpdated\": \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\":
        1607101171300,\r\n  \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n
        \ },\r\n  \"registered\": \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\":
        \"site\",\r\n  \"verified\": \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\":
        1607101188573,\r\n  \"newUser\": false,\r\n  \"sessionInfo\": {\r\n    \"cookieName\":
        \"gac_<GIGYA_API_KEY>\",\r\n    \"cookieValue\": \"<TOKEN>\"\r\n  }\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:34 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getJWT
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&login_token=<TOKEN>&fields=data.personId%2Cdata.gigyaDataCenter&expiration=900&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-c85xc
      X-Callid:
      - '019e871cd5757f80bf7d90baba17910f'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cd5757f80bf7d90baba17910f\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2026-06-02T06:54:34.404Z\",\r\n  \"id_token\": \"<JWT>\"\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:34 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getAccountInfo
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&login_token=<TOKEN>&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-kh6qh
      X-Callid:
      - '019e871cd6e277c4a757ee05affc1a7d'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cd6e277c4a757ee05affc1a7d\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2026-06-02T06:54:34.792Z\",\r\n  \"registeredTimestamp\":
        1607101171000,\r\n  \"UID\": \"<UID>\",\r\n  \"UIDSignature\": \"<UID_SIGNATURE>\",\r\n
        \ \"signatureTimestamp\": \"1780383274\",\r\n  \"created\": \"2020-12-04T16:59:31.300Z\",\r\n
        \ \"createdTimestamp\": 1607101171000,\r\n  \"data\": {\r\n    \"personId\":
        \"<RENAULT_PERSON_ID>\",\r\n    \"gigyaDataCenter\": \"eu1.gigya.com\"\r\n
        \ },\r\n  \"preferences\": {},\r\n  \"emails\": {\r\n    \"verified\": [\r\n
        \     \"<RENAULT_EMAIL>\"\r\n    ],\r\n    \"unverified\": []\r\n  },\r\n
        \ \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\": true,\r\n
        \ \"lastLogin\": \"2026-06-02T06:54:34.124Z\",\r\n  \"lastLoginTimestamp\":
        1780383274000,\r\n  \"lastUpdated\": \"2026-03-18T08:39:43.600Z\",\r\n  \"lastUpdatedTimestamp\":
        1773823183600,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"password\": {\r\n    \"created\": \"2022-03-22T07:48:05.499Z\"\r\n  },\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:34 GMT
recorded_with: VCR 6.4.0
