---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&loginID=joe%40example.com&password=foobarbaz&gmid=<RUZE_GMID>&ucid=<RUZE_UCID>&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '403042'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-5fl5c
      X-Callid:
      - '019e871cd82e723aaa58e07e9c6d50c9'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cd82e723aaa58e07e9c6d50c9\",\r\n  \"errorCode\":
        403042,\r\n  \"errorDetails\": \"invalid loginID or password\",\r\n  \"errorMessage\":
        \"Invalid LoginID\",\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 403,\r\n
        \ \"statusReason\": \"Forbidden\",\r\n  \"time\": \"2026-06-02T06:54:35.130Z\"\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:35 GMT
recorded_with: VCR 6.4.0
