---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&loginID=<RENAULT_EMAIL>&password=<RENAULT_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-g8
      X-Callid:
      - a87fd1844c2c47cb906b768602d8a1ce
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"a87fd1844c2c47cb906b768602d8a1ce\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2022-03-29T05:23:26.036Z\",\r\n  \"registeredTimestamp\":
        1607101171,\r\n  \"UID\": \"c4b84f80da0542fb8b9c24b44f283a87\",\r\n  \"UIDSignature\":
        \"BdWlGyU7Rp912u2llwXl4UGuup8=\",\r\n  \"signatureTimestamp\": \"1648531406\",\r\n
        \ \"created\": \"2020-12-04T16:59:31.300Z\",\r\n  \"createdTimestamp\": 1607101171,\r\n
        \ \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\": true,\r\n
        \ \"lastLogin\": \"2022-03-29T05:23:26.002Z\",\r\n  \"lastLoginTimestamp\":
        1648531406,\r\n  \"lastUpdated\": \"2020-12-04T16:59:48.573Z\",\r\n  \"lastUpdatedTimestamp\":
        1607101188573,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573,\r\n
        \ \"newUser\": false,\r\n  \"sessionInfo\": {\r\n    \"cookieName\": \"gac_<GIGYA_API_KEY>\",\r\n
        \   \"cookieValue\": \"st2.s.AcbHrpa96w.YuwnEg7w0D5qWqVbgJ360GpPPvwEkX7Yorf8bz-Rku19b2pDmG7u0tFFXvdvWbdBGNAqzWCVz9udFEFsoyd-cVqszFwNlOIs91c-MYteZEw.M6zMBrU0FwVXu8dCRx0OSuF1IKoUu5F4TITC3JSp2KU3CXNCcU26oV8uX_stwE5F4pbf_85RUjmSSdn87BSgXA.sc3\"\r\n
        \ }\r\n}"
  recorded_at: Tue, 29 Mar 2022 05:23:26 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getJWT
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&login_token=st2.s.AcbHrpa96w.YuwnEg7w0D5qWqVbgJ360GpPPvwEkX7Yorf8bz-Rku19b2pDmG7u0tFFXvdvWbdBGNAqzWCVz9udFEFsoyd-cVqszFwNlOIs91c-MYteZEw.M6zMBrU0FwVXu8dCRx0OSuF1IKoUu5F4TITC3JSp2KU3CXNCcU26oV8uX_stwE5F4pbf_85RUjmSSdn87BSgXA.sc3&fields=data.personId%2Cdata.gigyaDataCenter&expiration=900
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1b-nomad-g12
      X-Callid:
      - 150634d8c20543a59219067422971cce
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"150634d8c20543a59219067422971cce\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2022-03-29T05:23:26.236Z\",\r\n  \"ignoredFields\":
        \"\",\r\n  \"id_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQTGtzT3lCUmtIdjEyNng1V2hIYi01cHFDMXFGUjhwUWp4U2VMQjZuaEFuUEVSVFVsd25Zb3puSFN4d1g2NjgvIiwiYXBpS2V5IjoiM183UExrc095QlJrSHYxMjZ4NVdoSGItNXBxQzFxRlI4cFFqeFNlTEI2bmhBblBFUlRVbHduWW96bkhTeHdYNjY4IiwiaWF0IjoxNjQ4NTMxNDA2LCJleHAiOjE2NDg1MzIzMDYsInN1YiI6ImM0Yjg0ZjgwZGEwNTQyZmI4YjljMjRiNDRmMjgzYTg3IiwiZGF0YS5wZXJzb25JZCI6IjE1NDYzMDRjLTQxODktNDI4Ny04ODE1LTk4NmQwMDBlNjcxZCIsImRhdGEuZ2lneWFEYXRhQ2VudGVyIjoiZXUxLmdpZ3lhLmNvbSJ9.JKrrVNbyXNRRDd9XrAwjHmwvM2svK6HTHJ1odKDlK7HSVYtyN1D9LgU5WV1dzyq6yRU-wGbTYlYYm50DQF6B3d1qOjOt_A8i6-SX1jYoxdrfpB4mgs_J_3yZuhtBzb6g3zVLdMU4j-8L-J89wpiT2C6JxTPgJDReuGcCQbJLXcZkjxOIrcV5beJOB20u5HcydtbrfV8FqcYfxBrwN3rSqaF9dWrW0-D8fh7Ydg4Nv5GG_Z5T1Acur3GtFnyCKY60V3EJ0CMdpqY1rijFzGvHjhp0LLndNdDhTh_-t4HDbSIOMCUZj6N4ONlCM8dQKgmRGvSNV8ohxaPZqlyVfD3Lug\"\r\n}"
  recorded_at: Tue, 29 Mar 2022 05:23:26 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getAccountInfo
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&login_token=st2.s.AcbHrpa96w.YuwnEg7w0D5qWqVbgJ360GpPPvwEkX7Yorf8bz-Rku19b2pDmG7u0tFFXvdvWbdBGNAqzWCVz9udFEFsoyd-cVqszFwNlOIs91c-MYteZEw.M6zMBrU0FwVXu8dCRx0OSuF1IKoUu5F4TITC3JSp2KU3CXNCcU26oV8uX_stwE5F4pbf_85RUjmSSdn87BSgXA.sc3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-g16
      X-Callid:
      - 11faf091b76e4f4384b5acb28e8ad90d
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"11faf091b76e4f4384b5acb28e8ad90d\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2022-03-29T05:23:26.429Z\",\r\n  \"registeredTimestamp\":
        1607101171000,\r\n  \"UID\": \"c4b84f80da0542fb8b9c24b44f283a87\",\r\n  \"UIDSignature\":
        \"BdWlGyU7Rp912u2llwXl4UGuup8=\",\r\n  \"signatureTimestamp\": \"1648531406\",\r\n
        \ \"created\": \"2020-12-04T16:59:31.300Z\",\r\n  \"createdTimestamp\": 1607101171000,\r\n
        \ \"data\": {\r\n    \"personId\": \"<RENAULT_PERSON_ID>\",\r\n    \"gigyaDataCenter\":
        \"eu1.gigya.com\"\r\n  },\r\n  \"preferences\": {},\r\n  \"emails\": {\r\n
        \   \"verified\": [\r\n      \"<RENAULT_EMAIL>\"\r\n    ],\r\n    \"unverified\":
        []\r\n  },\r\n  \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\":
        true,\r\n  \"lastLogin\": \"2022-03-29T05:23:26.002Z\",\r\n  \"lastLoginTimestamp\":
        1648531406000,\r\n  \"lastUpdated\": \"2020-12-04T16:59:48.573Z\",\r\n  \"lastUpdatedTimestamp\":
        1607101188573,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"password\": {\r\n    \"created\": \"2022-03-22T07:48:05.499Z\"\r\n  },\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573\r\n}"
  recorded_at: Tue, 29 Mar 2022 05:23:26 GMT
recorded_with: VCR 6.1.0
