---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&loginID=joe%40example.com&password=foobarbaz
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '403042'
      X-Soa:
      - true, Gator
      X-Server:
      - eu1b-nomad-t28
      X-Callid:
      - b0547a7dc53f479baf18855cf008dc17
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"b0547a7dc53f479baf18855cf008dc17\",\r\n  \"errorCode\":
        403042,\r\n  \"errorDetails\": \"invalid loginID or password\",\r\n  \"errorMessage\":
        \"Invalid LoginID\",\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 403,\r\n
        \ \"statusReason\": \"Forbidden\",\r\n  \"time\": \"2024-04-16T10:05:47.518Z\"\r\n}"
  recorded_at: Tue, 16 Apr 2024 10:05:47 GMT
recorded_with: VCR 6.2.0
