---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&loginID=<RENAULT_EMAIL>&password=<RENAULT_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - eu1b-nomad-t18
      X-Callid:
      - 81a81660dc1949e382178373d2452120
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"81a81660dc1949e382178373d2452120\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2024-04-16T10:05:43.764Z\",\r\n  \"registeredTimestamp\":
        1607101171,\r\n  \"UID\": \"c4b84f80da0542fb8b9c24b44f283a87\",\r\n  \"UIDSignature\":
        \"/bXWiMB6M3N5Hucm7rDMh1AOjE4=\",\r\n  \"signatureTimestamp\": \"1713261943\",\r\n
        \ \"created\": \"2020-12-04T16:59:31.300Z\",\r\n  \"createdTimestamp\": 1607101171,\r\n
        \ \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\": true,\r\n
        \ \"lastLogin\": \"2024-04-16T10:05:43.717Z\",\r\n  \"lastLoginTimestamp\":
        1713261943,\r\n  \"lastUpdated\": \"2020-12-04T16:59:48.573Z\",\r\n  \"lastUpdatedTimestamp\":
        1607101188573,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573,\r\n
        \ \"newUser\": false,\r\n  \"sessionInfo\": {\r\n    \"cookieName\": \"gac_<GIGYA_API_KEY>\",\r\n
        \   \"cookieValue\": \"st2.s.AtLt0nRFsA.6bsHZB5zEz-Xozq6-54Vq6KAumD8IbSypaQJsIT_SZFHVWq-2LnS-L-7d6GHTt2MyqHPvrtD_oswraxGZ-DomuKsZ9Bwtta-rHU2MxfEj9-OhfkianWCIwqKBy8cCkkg.9btEVWNndzBpUMsSicdqfDaKXciq-zcTHkMIEV6Z8PvplHsWyXTz1PPvVNU_yhEZIZ2gCZyqDIUsLUEiVdhI-g.sc3\"\r\n
        \ }\r\n}"
  recorded_at: Tue, 16 Apr 2024 10:05:43 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getAccountInfo
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&login_token=st2.s.AtLt0nRFsA.6bsHZB5zEz-Xozq6-54Vq6KAumD8IbSypaQJsIT_SZFHVWq-2LnS-L-7d6GHTt2MyqHPvrtD_oswraxGZ-DomuKsZ9Bwtta-rHU2MxfEj9-OhfkianWCIwqKBy8cCkkg.9btEVWNndzBpUMsSicdqfDaKXciq-zcTHkMIEV6Z8PvplHsWyXTz1PPvVNU_yhEZIZ2gCZyqDIUsLUEiVdhI-g.sc3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - eu1b-nomad-t25
      X-Callid:
      - 0c0aedbf3d194470b0a244fb8088ced9
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"0c0aedbf3d194470b0a244fb8088ced9\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2024-04-16T10:05:43.972Z\",\r\n  \"registeredTimestamp\":
        1607101171000,\r\n  \"UID\": \"c4b84f80da0542fb8b9c24b44f283a87\",\r\n  \"UIDSignature\":
        \"/bXWiMB6M3N5Hucm7rDMh1AOjE4=\",\r\n  \"signatureTimestamp\": \"1713261943\",\r\n
        \ \"created\": \"2020-12-04T16:59:31.300Z\",\r\n  \"createdTimestamp\": 1607101171000,\r\n
        \ \"data\": {\r\n    \"personId\": \"<RENAULT_PERSON_ID>\",\r\n    \"gigyaDataCenter\":
        \"eu1.gigya.com\"\r\n  },\r\n  \"preferences\": {},\r\n  \"emails\": {\r\n
        \   \"verified\": [\r\n      \"<RENAULT_EMAIL>\"\r\n    ],\r\n    \"unverified\":
        []\r\n  },\r\n  \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\":
        true,\r\n  \"lastLogin\": \"2024-04-16T10:05:43.717Z\",\r\n  \"lastLoginTimestamp\":
        1713261943000,\r\n  \"lastUpdated\": \"2020-12-04T16:59:48.573Z\",\r\n  \"lastUpdatedTimestamp\":
        1607101188573,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"password\": {\r\n    \"created\": \"2022-03-22T07:48:05.499Z\"\r\n  },\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573\r\n}"
  recorded_at: Tue, 16 Apr 2024 10:05:43 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getJWT
    body:
      encoding: US-ASCII
      string: ApiKey=<GIGYA_API_KEY>&login_token=st2.s.AtLt0nRFsA.6bsHZB5zEz-Xozq6-54Vq6KAumD8IbSypaQJsIT_SZFHVWq-2LnS-L-7d6GHTt2MyqHPvrtD_oswraxGZ-DomuKsZ9Bwtta-rHU2MxfEj9-OhfkianWCIwqKBy8cCkkg.9btEVWNndzBpUMsSicdqfDaKXciq-zcTHkMIEV6Z8PvplHsWyXTz1PPvVNU_yhEZIZ2gCZyqDIUsLUEiVdhI-g.sc3&fields=data.personId%2Cdata.gigyaDataCenter&expiration=900
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - eu1a-nomad-t22
      X-Callid:
      - db19a52a2d9044fd9e0b479a4ff49874
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"db19a52a2d9044fd9e0b479a4ff49874\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2024-04-16T10:05:44.159Z\",\r\n  \"id_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQTGtzT3lCUmtIdjEyNng1V2hIYi01cHFDMXFGUjhwUWp4U2VMQjZuaEFuUEVSVFVsd25Zb3puSFN4d1g2NjgvIiwiYXBpS2V5IjoiM183UExrc095QlJrSHYxMjZ4NVdoSGItNXBxQzFxRlI4cFFqeFNlTEI2bmhBblBFUlRVbHduWW96bkhTeHdYNjY4IiwiaWF0IjoxNzEzMjYxOTQ0LCJleHAiOjE3MTMyNjI4NDQsInJpc2tTY29yZSI6MC4wLCJzdWIiOiJjNGI4NGY4MGRhMDU0MmZiOGI5YzI0YjQ0ZjI4M2E4NyIsImRhdGEucGVyc29uSWQiOiIxNTQ2MzA0Yy00MTg5LTQyODctODgxNS05ODZkMDAwZTY3MWQiLCJkYXRhLmdpZ3lhRGF0YUNlbnRlciI6ImV1MS5naWd5YS5jb20ifQ.XNtP9Smx_mY3ffdSWdqaH-By4QJBb4yysJ1f9rewnDlwqjfq1_2ctk_sI4T6eYhef2wzB44Bah-8fkSuDh88j07EiY6HP-3Wc2lAziaBFrOJ3wy5vvNDzCcezSOh6YZe0KZzCymaoobJc7FcPec-IXJj6vs1HWbRURKtBkWyKdugVq0LAOCizNY1s1kQdpDBQYLul5uDuq_xcMXd8IChU-KbQ1P7O9gaBkP60wfUhDaRxakf7QqqGzb2q_yYCjMoEnXm4OlY6rEHlwmmFwgKsxK3FHZ97l-161JraPEt011inFiwvehhxtbMEZk5Nn3k8yQODZZjGD6MdVbszqbT9A\"\r\n}"
  recorded_at: Tue, 16 Apr 2024 10:05:44 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/persons/<RENAULT_PERSON_ID>?country=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQTGtzT3lCUmtIdjEyNng1V2hIYi01cHFDMXFGUjhwUWp4U2VMQjZuaEFuUEVSVFVsd25Zb3puSFN4d1g2NjgvIiwiYXBpS2V5IjoiM183UExrc095QlJrSHYxMjZ4NVdoSGItNXBxQzFxRlI4cFFqeFNlTEI2bmhBblBFUlRVbHduWW96bkhTeHdYNjY4IiwiaWF0IjoxNzEzMjYxOTQ0LCJleHAiOjE3MTMyNjI4NDQsInJpc2tTY29yZSI6MC4wLCJzdWIiOiJjNGI4NGY4MGRhMDU0MmZiOGI5YzI0YjQ0ZjI4M2E4NyIsImRhdGEucGVyc29uSWQiOiIxNTQ2MzA0Yy00MTg5LTQyODctODgxNS05ODZkMDAwZTY3MWQiLCJkYXRhLmdpZ3lhRGF0YUNlbnRlciI6ImV1MS5naWd5YS5jb20ifQ.XNtP9Smx_mY3ffdSWdqaH-By4QJBb4yysJ1f9rewnDlwqjfq1_2ctk_sI4T6eYhef2wzB44Bah-8fkSuDh88j07EiY6HP-3Wc2lAziaBFrOJ3wy5vvNDzCcezSOh6YZe0KZzCymaoobJc7FcPec-IXJj6vs1HWbRURKtBkWyKdugVq0LAOCizNY1s1kQdpDBQYLul5uDuq_xcMXd8IChU-KbQ1P7O9gaBkP60wfUhDaRxakf7QqqGzb2q_yYCjMoEnXm4OlY6rEHlwmmFwgKsxK3FHZ97l-161JraPEt011inFiwvehhxtbMEZk5Nn3k8yQODZZjGD6MdVbszqbT9A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
      X-Response-Time:
      - '93'
    body:
      encoding: UTF-8
      string: '{"personId":"<RENAULT_PERSON_ID>","type":"I","context":"RENAULTGROUP","country":"DE","civility":"1","firstName":"<FIRST_NAME>","lastName":"<LAST_NAME>","idp":{"idpId":"<IDP_ID>","idpType":"GIGYA","idpStatus":"ACTIVE","login":"<RENAULT_EMAIL>","loginType":"EMAIL","lastLoginDate":"2024-04-16T00:00:30Z","termsConditionAcceptance":true,"termsConditionLastAcceptanceDate":"2020-12-04T16:59:31.539147Z","registerData":{"purposes":[],"events":[]},"originUserId":"awwir01","originApplicationName":"One_Nginx"},"preferredDealers":[{"brand":"RENAULT","dealerId":"<DEALER_ID>","dealerName":"<DEALER_NAME>","createdDate":"2020-12-04T17:06:16.541468Z","lastModifiedDate":"2020-12-04T17:06:16.541533Z","functionalCreationDate":"2020-12-04T17:06:16.541468Z","functionalModificationDate":"2020-12-04T17:06:16.541533Z"}],"addresses":[{"addressType":"MAIN","addressLine1":"<ADDRESS_LINE_1>","addressLine2":"","city":"<CITY>","region":"","postalCode":"<POSTAL_CODE>","country":"DE","validityFlag":false,"createdDate":"2021-03-06T12:27:08.314593Z","lastModifiedDate":"2021-03-06T12:27:08.325010Z","functionalCreationDate":"2021-03-06T12:27:08.314593Z","functionalModificationDate":"2021-03-06T12:27:08.325010Z"}],"emails":[{"emailType":"MAIN","emailValue":"<RENAULT_EMAIL>","validityFlag":true,"createdDate":"2020-12-04T16:59:31.548387Z","lastModifiedDate":"2020-12-04T16:59:31.548388Z","functionalCreationDate":"2020-12-04T16:59:31.548387Z","functionalModificationDate":"2020-12-04T16:59:31.548388Z"}],"phones":[{"phoneType":"MOBILE","phoneValue":"<PHONE_VALUE>","areaCode":"49","createdDate":"2021-03-06T12:27:08.324642Z","lastModifiedDate":"2021-03-06T12:27:08.324898Z","functionalCreationDate":"2021-03-06T12:27:08.324642Z","functionalModificationDate":"2021-03-06T12:27:08.324898Z"}],"identities":[],"myrRequest":false,"accounts":[{"accountId":"<RENAULT_ACCOUNT_ID>","accountType":"MYRENAULT","accountStatus":"ACTIVE","country":"DE","personId":"<RENAULT_PERSON_ID>","relationType":"OWNER"}],"purposes":[{"purposeId":"243ef231-75b0-4335-89a4-a2c0e3ebf423","country":"DE","purposeType":"PENDING_ACCOUNT_MGMT","purposeStartDate":"2020-12-04","purposeEndDate":"2020-12-04","forceEndDate":false,"consents":[],"createdDate":"2020-12-04T16:59:32.000813Z","lastModifiedDate":"2020-12-04T16:59:50.294241Z"},{"purposeId":"673724b7-a399-46bc-8d9f-7c9aae3732b7","country":"DE","purposeType":"ACCOUNT_MGMT","purposeStartDate":"2023-11-28","purposeEndDate":"2026-11-28","forceEndDate":false,"consents":[],"createdDate":"2020-12-04T16:59:50.262221Z","lastModifiedDate":"2023-11-28T19:29:41.585300Z"},{"purposeId":"2dac001f-2e94-457c-86dc-3831dc3ec00d","country":"DE","purposeType":"DIGITAL_AUTHENTICATION","purposeStartDate":"2024-04-16","purposeEndDate":"2025-04-16","forceEndDate":false,"consents":[],"createdDate":"2022-11-11T12:14:31.548304Z","lastModifiedDate":"2024-04-16T00:00:33.810867Z"},{"purposeId":"f22cdc49-d4b7-4af3-a070-a6a359808451","country":"DE","purposeType":"MARKETING","purposeStartDate":"2022-01-17","purposeEndDate":"2029-04-16","forceEndDate":false,"consents":[{"consentId":"b8abf9da-0347-41e3-9e4d-d34dd5a318b7","scopeType":"RENAULTGROUP","agreements":[{"type":"PHONE","value":"NO","displayValue":"PHONE","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","createdDate":"2020-12-04T16:59:34.179724Z","lastModifiedDate":"2022-01-17T07:45:19.174357Z","functionalCreationDate":"2020-12-04T16:59:34.179724Z","functionalModificationDate":"2022-01-17T07:45:19.174357Z"},{"type":"SMS","value":"NO","displayValue":"SMS","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","createdDate":"2020-12-04T16:59:34.179734Z","lastModifiedDate":"2022-01-17T07:45:19.174361Z","functionalCreationDate":"2020-12-04T16:59:34.179734Z","functionalModificationDate":"2022-01-17T07:45:19.174361Z"},{"type":"EMAIL","value":"YES","displayValue":"EMAIL","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","createdDate":"2020-12-04T16:59:34.179737Z","lastModifiedDate":"2022-01-17T07:45:19.174362Z","functionalCreationDate":"2020-12-04T16:59:34.179737Z","functionalModificationDate":"2022-01-17T07:45:19.174362Z"},{"type":"POSTAL_ADD","value":"YES","displayValue":"POSTAL_ADD","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","createdDate":"2020-12-04T16:59:34.179739Z","lastModifiedDate":"2022-01-17T07:45:19.174363Z","functionalCreationDate":"2020-12-04T16:59:34.179739Z","functionalModificationDate":"2022-01-17T07:45:19.174363Z"}],"createdDate":"2020-12-04T16:59:50.282614Z","lastModifiedDate":"2022-01-17T07:45:19.193206Z"}],"createdDate":"2020-12-04T16:59:50.282303Z","lastModifiedDate":"2024-04-16T00:00:33.941529Z"}],"partyId":"<PARTY_ID>","createdDate":"2020-12-04T16:59:31.550054Z","lastModifiedDate":"2024-04-16T00:00:33.915747Z","functionalCreationDate":"2020-12-04T16:59:31.548259Z","functionalModificationDate":"2023-11-19T04:35:10.081983754Z","locale":"de-DE","originApplicationName":"One_Nginx","originUserId":"awwir01","agreements":[{"agreementType":"RENAULTRCISHARING","agreementValue":false,"agreementSource":"MYRENAULT","createdDate":null,"lastModifiedDate":"2023-11-19T00:00:00Z","functionalModificationDate":"2023-11-19"}],"parentPersonsLinks":[],"childPersonsLinks":[],"trackingId":"<TRACKING_ID>"}'
  recorded_at: Tue, 16 Apr 2024 10:05:44 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/vehicles?country=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQTGtzT3lCUmtIdjEyNng1V2hIYi01cHFDMXFGUjhwUWp4U2V[...]
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/kamereon/kca/car-adapter/v2/cars/<RENAULT_VIN>/battery-status?country=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQTGtzT3lCUmtIdjEyNng1V2hIYi01cHFDMXFGUjhwUWp4U2VMQjZuaEFuUEVSVFVsd25Zb3puSFN4d1g2NjgvIiwiYXBpS2V5IjoiM183UExrc095QlJrSHYxMjZ4NVdoSGItNXBxQzFxRlI4cFFqeFNlTEI2bmhBblBFUlRVbHduWW96bkhTeHdYNjY4IiwiaWF0IjoxNzEzMjYxOTQ0LCJleHAiOjE3MTMyNjI4NDQsInJpc2tTY29yZSI6MC4wLCJzdWIiOiJjNGI4NGY4MGRhMDU0MmZiOGI5YzI0YjQ0ZjI4M2E4NyIsImRhdGEucGVyc29uSWQiOiIxNTQ2MzA0Yy00MTg5LTQyODctODgxNS05ODZkMDAwZTY3MWQiLCJkYXRhLmdpZ3lhRGF0YUNlbnRlciI6ImV1MS5naWd5YS5jb20ifQ.XNtP9Smx_mY3ffdSWdqaH-By4QJBb4yysJ1f9rewnDlwqjfq1_2ctk_sI4T6eYhef2wzB44Bah-8fkSuDh88j07EiY6HP-3Wc2lAziaBFrOJ3wy5vvNDzCcezSOh6YZe0KZzCymaoobJc7FcPec-IXJj6vs1HWbRURKtBkWyKdugVq0LAOCizNY1s1kQdpDBQYLul5uDuq_xcMXd8IChU-KbQ1P7O9gaBkP60wfUhDaRxakf7QqqGzb2q_yYCjMoEnXm4OlY6rEHlwmmFwgKsxK3FHZ97l-161JraPEt011inFiwvehhxtbMEZk5Nn3k8yQODZZjGD6MdVbszqbT9A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json;charset=UTF-8
      X-Oneagent-Js-Injection:
      - true, true
      X-Vcap-Request-Id:
      - 056dbdaf-261e-4076-6624-a9c1286b7b33
      X-Dt-Tracestate:
      - 32ea58b1-c11c5b27@dt
      Traceresponse:
      - 00-b264c3a283b0323953216647bb16245f-f070484fa2bdb370-01
      X-Response-Time:
      - '869'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"Car","id":"<RENAULT_VIN>","attributes":{"timestamp":"2024-04-16T05:32:58Z","batteryLevel":48,"batteryTemperature":20,"batteryAutonomy":142,"batteryCapacity":0,"batteryAvailableEnergy":20,"plugStatus":0,"chargingStatus":0.0,"chargingRemainingTime":275,"chargingInstantaneousPower":28.5}}}'
  recorded_at: Tue, 16 Apr 2024 10:05:46 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/kamereon/kca/car-adapter/v1/cars/<RENAULT_VIN>/cockpit?country=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQT[...]
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/kamereon/kca/car-adapter/v1/cars/<RENAULT_VIN>/location?country=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJFUTBNVVE1TjBOQ1JUSkVNemszTTBVMVJrTkRRMFUwUTBNMVJFRkJSamhETWpkRU5VRkJRZyJ9.eyJpc3MiOiJodHRwczovL2ZpZG0uZ2lneWEuY29tL2p3dC8zXzdQ[...]
