---
http_interactions:
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/persons/1234567c-1234-1234-1234-123d123e123d?country=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - this-is-not-a-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
      X-Response-Time:
      - '14'
    body:
      encoding: UTF-8
      string: '{"type":"FUNCTIONAL","messages":[{"code":"err.func.wired.unauthorized","message":"The
        access is unauthorized"}],"errors":[{"errorCode":"err.func.wired.unauthorized","errorMessage":"The
        access is unauthorized"}],"error_reference":"FUNCTIONAL"}'
  recorded_at: Tue, 16 Apr 2024 10:05:48 GMT
recorded_with: VCR 6.2.0
