---
http_interactions:
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.login
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&loginID=<RENAULT_EMAIL>&password=<RENAULT_PASSWORD>&gmid=<RUZE_GMID>&ucid=<RUZE_UCID>&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-67dx9
      X-Callid:
      - '019e871cd947709daa466679bb8219eb'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cd947709daa466679bb8219eb\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2026-06-02T06:54:35.608Z\",\r\n  \"registeredTimestamp\":
        1607101171,\r\n  \"UID\": \"<UID>\",\r\n  \"UIDSignature\": \"<UID_SIGNATURE>\",\r\n
        \ \"signatureTimestamp\": \"1780383275\",\r\n  \"created\": \"2020-12-04T16:59:31.300Z\",\r\n
        \ \"createdTimestamp\": 1607101171,\r\n  \"isActive\": true,\r\n  \"isRegistered\":
        true,\r\n  \"isVerified\": true,\r\n  \"lastLogin\": \"2026-06-02T06:54:35.456Z\",\r\n
        \ \"lastLoginTimestamp\": 1780383275,\r\n  \"lastUpdated\": \"2026-03-18T08:39:43.600Z\",\r\n
        \ \"lastUpdatedTimestamp\": 1773823183600,\r\n  \"loginProvider\": \"site\",\r\n
        \ \"oldestDataUpdated\": \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\":
        1607101171300,\r\n  \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n
        \ },\r\n  \"registered\": \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\":
        \"site\",\r\n  \"verified\": \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\":
        1607101188573,\r\n  \"newUser\": false,\r\n  \"sessionInfo\": {\r\n    \"cookieName\":
        \"gac_<GIGYA_API_KEY>\",\r\n    \"cookieValue\": \"<TOKEN>\"\r\n  }\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:35 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getAccountInfo
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&login_token=<TOKEN>&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-j8pxc
      X-Callid:
      - '019e871cdaf47922bea4403c9409bf2b'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cdaf47922bea4403c9409bf2b\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2026-06-02T06:54:35.807Z\",\r\n  \"registeredTimestamp\":
        1607101171000,\r\n  \"UID\": \"<UID>\",\r\n  \"UIDSignature\": \"<UID_SIGNATURE>\",\r\n
        \ \"signatureTimestamp\": \"1780383275\",\r\n  \"created\": \"2020-12-04T16:59:31.300Z\",\r\n
        \ \"createdTimestamp\": 1607101171000,\r\n  \"data\": {\r\n    \"personId\":
        \"<RENAULT_PERSON_ID>\",\r\n    \"gigyaDataCenter\": \"eu1.gigya.com\"\r\n
        \ },\r\n  \"preferences\": {},\r\n  \"emails\": {\r\n    \"verified\": [\r\n
        \     \"<RENAULT_EMAIL>\"\r\n    ],\r\n    \"unverified\": []\r\n  },\r\n
        \ \"isActive\": true,\r\n  \"isRegistered\": true,\r\n  \"isVerified\": true,\r\n
        \ \"lastLogin\": \"2026-06-02T06:54:35.456Z\",\r\n  \"lastLoginTimestamp\":
        1780383275000,\r\n  \"lastUpdated\": \"2026-03-18T08:39:43.600Z\",\r\n  \"lastUpdatedTimestamp\":
        1773823183600,\r\n  \"loginProvider\": \"site\",\r\n  \"oldestDataUpdated\":
        \"2020-12-04T16:59:31.300Z\",\r\n  \"oldestDataUpdatedTimestamp\": 1607101171300,\r\n
        \ \"password\": {\r\n    \"created\": \"2022-03-22T07:48:05.499Z\"\r\n  },\r\n
        \ \"profile\": {\r\n    \"email\": \"<RENAULT_EMAIL>\"\r\n  },\r\n  \"registered\":
        \"2020-12-04T16:59:31.415Z\",\r\n  \"socialProviders\": \"site\",\r\n  \"verified\":
        \"2020-12-04T16:59:48.573Z\",\r\n  \"verifiedTimestamp\": 1607101188573\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:35 GMT
- request:
    method: post
    uri: https://accounts.eu1.gigya.com/accounts.getJWT
    body:
      encoding: UTF-8
      string: apiKey=<GIGYA_API_KEY>&login_token=<TOKEN>&fields=data.personId%2Cdata.gigyaDataCenter&expiration=900&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Error-Code:
      - '0'
      X-Soa:
      - true, Gator
      X-Server:
      - gator-eu1-prod-67d85c54fc-xq9sf
      X-Callid:
      - '019e871cdc4273ba833265f1c31ec184'
    body:
      encoding: UTF-8
      string: "{\r\n  \"callId\": \"019e871cdc4273ba833265f1c31ec184\",\r\n  \"errorCode\":
        0,\r\n  \"apiVersion\": 2,\r\n  \"statusCode\": 200,\r\n  \"statusReason\":
        \"OK\",\r\n  \"time\": \"2026-06-02T06:54:36.153Z\",\r\n  \"id_token\": \"<JWT>\"\r\n}"
  recorded_at: Tue, 02 Jun 2026 06:54:36 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/persons/<RENAULT_PERSON_ID>?country=DE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - "<JWT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Traceresponse:
      - 00-62af131881bf3dded1af6a18144091da-a488daadc1d153be-01
      X-Dt-Tracestate:
      - 32ea58b1-c11c5b27@dt
      X-Oneagent-Js-Injection:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"personId":"<RENAULT_PERSON_ID>","type":"I","context":"RENAULTGROUP","country":"DE","civility":"1","firstName":"<FIRST_NAME>","lastName":"<LAST_NAME>","idp":{"idpId":"<IDP_ID>","idpType":"GIGYA","idpStatus":"ACTIVE","login":"<RENAULT_EMAIL>","loginType":"EMAIL","lastLoginDate":"2026-06-01T00:13:21Z","termsConditionAcceptance":true,"termsConditionLastAcceptanceDate":"2020-12-04T16:59:31.539147Z","registerData":{"purposes":[],"events":[]},"originUserId":"<ORIGIN_USER_ID>","originApplicationName":"One_Nginx"},"preferredDealers":[{"brand":"RENAULT","dealerId":"<DEALER_ID>","dealerName":"<DEALER_NAME>","createdDate":"2020-12-04T17:06:16.541468Z","lastModifiedDate":"2020-12-04T17:06:16.541533Z","functionalCreationDate":"2020-12-04T17:06:16.541468Z","functionalModificationDate":"2020-12-04T17:06:16.541533Z"}],"addresses":[{"addressType":"MAIN","addressLine1":"<ADDRESS_LINE_1>","addressLine2":"","city":"<CITY>","region":"","postalCode":"<POSTAL_CODE>","country":"DE","validityFlag":false,"createdDate":"2021-03-06T12:27:08.314593Z","lastModifiedDate":"2021-03-06T12:27:08.325010Z","functionalCreationDate":"2021-03-06T12:27:08.314593Z","functionalModificationDate":"2021-03-06T12:27:08.325010Z"}],"emails":[{"emailType":"MAIN","emailValue":"<RENAULT_EMAIL>","validityFlag":true,"createdDate":"2020-12-04T16:59:31.548387Z","lastModifiedDate":"2020-12-04T16:59:31.548388Z","functionalCreationDate":"2020-12-04T16:59:31.548387Z","functionalModificationDate":"2020-12-04T16:59:31.548388Z"}],"phones":[{"phoneType":"MOBILE","phoneValue":"<PHONE_VALUE>","areaCode":"49","createdDate":"2021-03-06T12:27:08.324642Z","lastModifiedDate":"2021-03-06T12:27:08.324898Z","functionalCreationDate":"2021-03-06T12:27:08.324642Z","functionalModificationDate":"2021-03-06T12:27:08.324898Z"}],"identities":[],"myrRequest":false,"accounts":[{"accountId":"<RENAULT_ACCOUNT_ID>","accountType":"MYRENAULT","accountStatus":"ACTIVE","country":"DE","personId":"<RENAULT_PERSON_ID>","relationType":"OWNER"},{"accountId":"<ACCOUNT_ID>","externalId":"<EXTERNAL_ID>","accountType":"SFDC","accountStatus":"ACTIVE","country":"DE","personId":"<RENAULT_PERSON_ID>","relationType":"OWNER"}],"purposes":[{"purposeId":"243ef231-75b0-4335-89a4-a2c0e3ebf423","country":"DE","purposeType":"PENDING_ACCOUNT_MGMT","purposeStartDate":"2020-12-04","purposeEndDate":"2020-12-04","forceEndDate":false,"consents":[],"createdDate":"2020-12-04T16:59:32.000813Z","lastModifiedDate":"2020-12-04T16:59:50.294241Z"},{"purposeId":"673724b7-a399-46bc-8d9f-7c9aae3732b7","country":"DE","purposeType":"ACCOUNT_MGMT","purposeStartDate":"2026-05-30","purposeEndDate":"2029-05-30","forceEndDate":false,"consents":[],"createdDate":"2020-12-04T16:59:50.262221Z","lastModifiedDate":"2026-05-30T09:30:26.030702Z"},{"purposeId":"2dac001f-2e94-457c-86dc-3831dc3ec00d","country":"DE","purposeType":"DIGITAL_AUTHENTICATION","purposeStartDate":"2026-06-01","purposeEndDate":"2027-06-01","forceEndDate":false,"consents":[],"createdDate":"2022-11-11T12:14:31.548304Z","lastModifiedDate":"2026-06-01T01:07:17.337649Z"},{"purposeId":"0e931b23-845f-4e95-b76a-0662a68973fd","country":"DE","purposeType":"PRESALES_CARE","purposeStartDate":"2024-08-19","purposeEndDate":"2027-08-19","forceEndDate":false,"consents":[],"createdDate":"2025-05-15T02:29:39.348380Z","lastModifiedDate":"2025-05-18T04:33:44.681654Z"},{"purposeId":"f22cdc49-d4b7-4af3-a070-a6a359808451","country":"DE","purposeType":"MARKETING","purposeEndDate":"2028-06-01","forceEndDate":false,"consents":[{"consentId":"b8abf9da-0347-41e3-9e4d-d34dd5a318b7","scopeType":"RENAULTGROUP","agreements":[{"type":"EMAIL","value":"NO","displayValue":"EMAIL","lastUpdateSourceType":"INIT","lastUpdateSubSourceType":"NEO_unsub_email","proof":"proofId","createdDate":"2020-12-04T16:59:34.179737Z","lastModifiedDate":"2026-06-02T01:49:12.920859700Z","functionalModificationDate":"2025-04-28T00:00:00Z"},{"type":"SMS","value":"NO","displayValue":"SMS","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","proof":"proofId","createdDate":"2020-12-04T16:59:34.179734Z","lastModifiedDate":"2026-06-02T01:49:12.920860200Z","functionalModificationDate":"2022-01-17T00:00:00Z"},{"type":"PHONE","value":"NO","displayValue":"PHONE","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","proof":"proofId","createdDate":"2020-12-04T16:59:34.179724Z","lastModifiedDate":"2026-06-02T01:49:12.920860470Z","functionalModificationDate":"2022-01-17T00:00:00Z"},{"type":"POSTAL_ADD","value":"YES","displayValue":"POSTAL_ADD","lastUpdateSourceType":"DIGITAL","lastUpdateSubSourceType":"MYRENAULT","proof":"proofId","createdDate":"2020-12-04T16:59:34.179739Z","lastModifiedDate":"2026-06-02T01:49:12.920860687Z","functionalModificationDate":"2022-01-17T00:00:00Z"}],"createdDate":"2020-12-04T16:59:50.282614Z","lastModifiedDate":"2026-06-01T23:49:12.938853Z"}],"createdDate":"2020-12-04T16:59:50.282303Z","lastModifiedDate":"2026-06-01T01:07:18.550415Z"}],"partyId":"<PARTY_ID>","mdmId":"<MDM_ID>","createdDate":"2020-12-04T16:59:31.550054Z","lastModifiedDate":"2026-06-01T01:07:17.525785Z","functionalCreationDate":"2020-12-04T16:59:31.548259Z","functionalModificationDate":"2025-12-13T07:56:52.082244462Z","locale":"de-DE","originApplicationName":"One_Nginx","originUserId":"<ORIGIN_USER_ID>","agreements":[{"agreementType":"RENAULTRCISHARING","agreementValue":false,"agreementSource":"MYRENAULT","createdDate":null,"lastModifiedDate":"2023-11-19T00:00:00Z","functionalModificationDate":"2023-11-19"},{"agreementType":"SURVEY","agreementValue":true,"agreementSource":"HAP","agreementSubOrigin":"HAP","createdDate":null,"lastModifiedDate":"2024-09-09T00:00:00Z","functionalModificationDate":"2024-09-09"}],"digitalAgreements":[{"agreementType":"PARTNERSHARING","agreementRecipient":"qiXX6GdXSgerKxYqvdAblK_M","agreementScopes":["renaultGroupFull","openid","personId","lang","email"],"createdDate":"2025-12-13T07:56:52.081608321Z","lastModifiedDate":"2025-12-13T07:56:52.082218986Z","functionalCreationDate":"2025-12-13","functionalModificationDate":"2025-12-13"}],"parentPersonsLinks":[],"childPersonsLinks":[],"trackingId":"<TRACKING_ID>"}'
  recorded_at: Tue, 02 Jun 2026 06:54:36 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/vehicles?country=DE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - "<JWT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Traceresponse:
      - 00-5e9eb860a06e21b989d4e62b9ff03e7c-7626685d93eb1e2a-01
      X-Dt-Tracestate:
      - 32ea58b1-c11c5b27@dt
      X-Oneagent-Js-Injection:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"accountId":"<RENAULT_ACCOUNT_ID>","country":"DE","vehicleLinks":[{"brand":"RENAULT","vin":"<RENAULT_VIN>","status":"ACTIVE","linkType":"USER","garageBrand":"renault","annualMileage":null,"mileage":29900,"mileageUnit":"km","mileageDate":"2021-10-31","estimatedMileage":null,"startDate":"2020-12-04","endDate":null,"createdDate":"2020-12-04T17:02:34.051660Z","createdBy":null,"lastModifiedDate":"2022-03-28T07:05:34.571908Z","lastModifiedBy":null,"ownershipStartDate":null,"ownershipEndDate":null,"cancellationReason":{"code":null,"label":null},"preferredDealer":{"dealerId":"<DEALER_ID>","dealerName":"<DEALER_NAME>","brand":"RENAULT","createdDate":"2020-12-04T17:06:16.617591Z","lastModifiedDate":"2020-12-04T17:06:16.617591Z"},"connectedDriver":{"role":"MAIN_DRIVER","createdDate":"2020-12-04T18:52:46.595689Z","lastModifiedDate":"2022-03-28T07:05:34.571749Z","createdBy":null,"lastModifiedBy":null},"installSoftware":null,"digitalMaintenanceBookletGenerationDate":null,"vehicleDetails":{"vin":"<RENAULT_VIN>","registrationDate":null,"firstRegistrationDate":null,"engineType":"5AQ","engineRatio":"605","modelSCR":"ZOE","passToSalesDate":"2020-10-14","deliveryCountry":{"code":"DE","label":"GERMANY","group":null},"family":{"code":"X10","label":"","group":"007"},"tcu":{"code":"AIVCT","label":"WITH
        AIVC CONNECTION UNIT","group":"E70"},"navigationAssistanceLevel":{"code":"SAN408","label":"CRITERE
        DE CONTEXTE","group":"408"},"battery":{"code":"BT4AR1","label":"BT4AR1 BATTERY","group":"968"},"radioType":{"code":"NA418","label":"FULL
        NAV DAB ETH - AUDI","group":"425"},"registrationCountry":{"code":"DE","label":null,"group":null},"brand":{"code":null,"label":"RENAULT","group":null},"model":{"code":"X102VE","label":"ZOE","group":"971"},"gearbox":{"code":"BVEL","label":"ELEC.VAR.GEARBOX","group":"427"},"version":{"code":"INT
        A MC 1LP","label":null,"group":null},"energy":{"code":"ELEC","label":"ELECTRICITY","group":"019"},"bodyType":{"code":"B10","label":"","group":"008"},"steeringSide":{"code":"DG","label":"LEFT-HAND
        DRIVE","group":"027"},"additionalEngineType":{"code":"SSTYAD","label":"WITHOUT
        ADDITIONAL ENGINE TYPE","group":"948"},"hybridation":{"code":"SSHYB","label":"NO
        HYBRIDISATION LEVEL","group":"956"},"registrationNumber":"","modelYear":null,"vcd":"STANDA/X10/B10/EA3/MC/ELEC/DG/TEMP/TR4X2/AFURGE/RV/ABS/CAREG/LAC/VSTLAR/CPETIR/RET03/PROJAB/RALU16/CEAVRH/ADAC/AIRBA2/SERIE/DRA/DRAP18/HARM02/3ATRPH/SGAV01/BARRAB/TEQNY/SFBANA/KM/DPRPN/AVREPL/SSDECA/ABLAV/ASRESP/ALEVA/CACBL2/SOP02C/STHPLG/SKTGRV/VLCUI2/RETRCR/TRSEV1/RETC/LVAVIP/LVAREL/SASURV/KTGREP/SGACHA/DEU01/APL03/FSTPO/ALOUC5/CMAR3P/SAN408/NA418/BVEL/AUTAUG/SPREST/RDIF01/PNEUTT/ISOFIX/EQPEUR/HRGM01/SDPCLV/CHASTD/TL09A/SPRODI/SAN613/AIRBDE/PSMREC/ELC1/SSPTLP/SANCML/DCONT1/SEXTIN/PE2019/PHAS2/SAN913/THABT2/SSTYAD/SSHYB/052KWH/BT4AR1/VEC027/X102VE/NBT022/5AQ/ASCOD0/DLIGM2/SSTINC/KITPOU/SKTPGR/SSCCPC/SDPSEC/FDIU2/SSMAP/SSCALL/FACBA1/DANGMO/AVRCAR/SSCABD/AIVCT/AVGSI/ITPK4/VOLCHA/REACTI/AVOSP1/SWALBO/SSDWGE/AVC1A/1234Y/AEBS07/TCHA0/PRAHL/RRCAM","manufacturingDate":"2020-10-13","assets":[{"assetType":"PICTURE","assetRole":null,"title":null,"description":null,"viewpoint":"mybrand_2","renditions":[{"resolutionType":"ONE_MYRENAULT_SMALL","resolution":null,"url":"https://3dv.renault.com/ImageFromBookmark?configuration=X10%2FB10%2FEA3%2FDG%2FCAREG%2FVSTLAR%2FRET03%2FPROJAB%2FRALU16%2FDRAP18%2FHARM02%2F3ATRPH%2FTEQNY%2FALEVA%2FVLCUI2%2FRETRCR%2FRETC%2FLVAREL%2FSGACHA%2FNA418%2FRDIF01%2FTL09A%2FDCONT1%2FNBT022%2FDLIGM2%2FKITPOU%2FDANGMO%2FITPK4%2FVOLCHA%2FREACTI%2FAEBS07%2FPRAHL%2FRRCAM&databaseId=7f3eb877-27db-4506-b0e1-b4a381659b25&bookmarkSet=RSITE&bookmark=EXT_34_DESSUS&profile=HELIOS_OWNERSERVICES_SMALL_V2","size":null},{"resolutionType":"ONE_MYRENAULT_LARGE","resolution":null,"url":"https://3dv.renault.com/ImageFromBookmark?configuration=X10%2FB10%2FEA3%2FDG%2FCAREG%2FVSTLAR%2FRET03%2FPROJAB%2FRALU16%2FDRAP18%2FHARM02%2F3ATRPH%2FTEQNY%2FALEVA%2FVLCUI2%2FRETRCR%2FRETC%2FLVAREL%2FSGACHA%2FNA418%2FRDIF01%2FTL09A%2FDCONT1%2FNBT022%2FDLIGM2%2FKITPOU%2FDANGMO%2FITPK4%2FVOLCHA%2FREACTI%2FAEBS07%2FPRAHL%2FRRCAM&databaseId=7f3eb877-27db-4506-b0e1-b4a381659b25&bookmarkSet=RSITE&bookmark=EXT_34_DESSUS&profile=HELIOS_OWNERSERVICES_LARGE","size":null}],"viewPointInLowerCase":"mybrand_2"},{"assetType":"PICTURE","assetRole":null,"title":null,"description":null,"viewpoint":"mybrand_5","renditions":[{"resolutionType":"ONE_MYRENAULT_SMALL","resolution":null,"url":"https://3dv.renault.com/ImageFromBookmark?configuration=X10%2FB10%2FEA3%2FDG%2FCAREG%2FVSTLAR%2FRET03%2FPROJAB%2FRALU16%2FDRAP18%2FHARM02%2F3ATRPH%2FTEQNY%2FALEVA%2FVLCUI2%2FRETRCR%2FRETC%2FLVAREL%2FSGACHA%2FNA418%2FRDIF01%2FTL09A%2FDCONT1%2FNBT022%2FDLIGM2%2FKITPOU%2FDANGMO%2FITPK4%2FVOLCHA%2FREACTI%2FAEBS07%2[...]
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/kamereon/kca/car-adapter/v2/cars/<RENAULT_VIN>/battery-status?country=DE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - "<JWT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Traceresponse:
      - 00-34f328456c5e4451e5372add6eb6702a-5166ab00b2b1e252-01
      X-Dt-Tracestate:
      - 32ea58b1-c11c5b27@dt
      X-Oneagent-Js-Injection:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"<RENAULT_VIN>","attributes":{"timestamp":"2026-06-02T05:21:27Z","batteryLevel":55,"batteryAutonomy":191,"plugStatus":0,"chargingStatus":0.0,"chargingRemainingTime":125,"chargingRemainingTimeLastUpdateDateTime":"2026-05-29T12:04:29Z"}}}'
  recorded_at: Tue, 02 Jun 2026 06:54:37 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/kamereon/kca/car-adapter/v1/cars/<RENAULT_VIN>/cockpit?country=DE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - "<JWT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Traceresponse:
      - 00-e1b92473300001294c7b888ac379d2c5-c6a2fc5107a9f31a-01
      X-Dt-Tracestate:
      - 32ea58b1-c11c5b27@dt
      X-Oneagent-Js-Injection:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"<RENAULT_VIN>","attributes":{"fuelAutonomy":0,"fuelQuantity":0.0,"totalMileage":30000,"timestamp":"2026-06-02T05:20:52Z"}}}'
  recorded_at: Tue, 02 Jun 2026 06:54:38 GMT
- request:
    method: get
    uri: https://api-wired-prod-1-euw1.wrd-aws.com/commerce/v1/accounts/<RENAULT_ACCOUNT_ID>/kamereon/kca/car-adapter/v1/cars/<RENAULT_VIN>/location?country=DE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apikey:
      - "<KAMEREON_API_KEY>"
      X-Gigya-Id-Token:
      - "<JWT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Traceresponse:
      - 00-7c1888c590c7ac5b489aad93b92c931e-4403f22642ac20fd-01
      X-Dt-Tracestate:
      - 32ea58b1-c11c5b27@dt
      X-Oneagent-Js-Injection:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"<RENAULT_VIN>","attributes":{"lastUpdateTime":"2026-06-02T05:20:52Z","gpsLatitude":52.0,"gpsLongitude":10.0}}}'
  recorded_at: Tue, 02 Jun 2026 06:54:38 GMT
recorded_with: VCR 6.4.0
